@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

html.dark body {
  @apply bg-slate-950 text-slate-100;
}

* {
  transition: background-color 200ms ease, border-color 200ms ease, color 200ms ease;
}
